body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 26px;
  background-color: white;
  width: 35%;
  margin: auto;
  margin-top: 120px;
  box-shadow:rgb(53, 52, 52, 0.8) ;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: rgb(49, 49, 233);
  color: white;
  font-size: 1.3em;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: white;
  text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.listevide{
    font-size: 3em;
    color : rgb(31, 31, 156);
}